* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #1B6CA8;
    --light-blue: #0a97b0;
    --pink: #ffd3e1;
    --beige: #fce8d5;
    --light-grey: #E5E5E5;
}

section {
    padding: 60px;
}

.section-title {
    font-size: 36px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
    color: var(--light-blue);
}

.section-title:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
    border-bottom: 3px solid var(--blue);
}

.secondary-section-title {
    font-size: 36px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
    color: var(--beige);
}

.secondary-section-title:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 20px;
    border-bottom: 3px solid var(--beige);
}

a {
    color: inherit;
    text-decoration: none;
}

.primary-border {
    border-color: var(--blue)
}

.secondary-border {
    border-color: var(--beige)
}

/* Header and Nav Styles Start */

header {
    color: var(--light-grey);
    font-size: larger;
    font-weight: bold;
    font-size: 28px;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px, 35px;
}

header nav {
    margin: 7px 0;
}

header nav ul li {
    display: inline-block;
    color: var(--beige);
    width: 40%;
}

/* Header and Nav Styles End */

/* About Me Styles Start */

.about-me {
    background-color: var(--light-grey);
    color: var(--blue);
    text-align: center;
    font-size: 28px;
}

/* About Me Styles End */

/* Works Styles Start */

.works {
    color: var(--blue);
    background-color: white;
}

/* Works Styles End */

/* Contact Styles Start */

.contact {
    color: var(--light-grey);
    background-color: var(--blue);
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.contact h2 {


.contact img {
    width: 10%;
    transform: rotate(90deg);
}

/* Contact Styles End */

/*Footer Styles Start */

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 40px 35px;
    background-color: var(--blue);
    color: var(--light-grey)
}

/* Footer Styles End */

/* Media Queries Start */

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

}